#nav{
    padding-left: 0px;
}

#nav li{
    display: inline;
    margin: 5px;
    padding: 5px;
    font-family: Verdana;
    font-size: 15px;
    background-color: #F1EEF7;
    border: 1px solid silver;
}

#nav li a{
    text-decoration: none;
}

#nav li:hover{
    background-color: #8D93EF;
}
#outer1 {
    text-align: center;
    color: green;
}
#outer2 {
    text-align: center;
    color: red;
}
table {
    width: 1000x; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
    margin-top: 2%;
}